<!--The content below is only a placeholder and can be replaced.-->
<div class="container">  
    <div class="jumbotron">
      <h1>Bookmy - Simple bookmarking</h1>
    </div>

      <!-- <add-url (addNewUrl)="addNewUrl($event)"></add-url> -->
      <add-url></add-url>

      <div class="row mt-5">
        <div class="col-lg-9">
          <list-urls #listUrls></list-urls>
        </div>
        <div class="col-lg-3">
          <list-tags #listTags></list-tags>
        </div>
      </div>  
    
  
</div>

